
body.bg-dark {
  background-color: #343a40 !important;
  color: rgb(174,168,168) !important;
}

body.bg-light {
  background-color: #aaa9a9 !important;
  color: rbg(53,48,48) !important;
}

.welcome {
  display: flex;
  align-items: center;
}

.profilepic {
  width: 40px;
  height: 40px;
}

.CItem {
  background: black;
  overflow: hidden;
}

.carouselImage {
  object-fit: cover;;
  height: 500px;  
  opacity: 0.6;
}